$trendyCoursesBackgroundColor: #ff;
$trendyCoursesBorderColor: antiquewhite;
//$navBarBackgroundColor: rgb(252, 228, 214);
$navBarBackgroundColor: #333333;
//$fontsColor: #6A1D1A;
$fontsColor: #F2AC33;
$lightest: #F3F7F8;
$lighterBright: #FEBE67;
