@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@import "mixins";
@import "sizes";
@import "main-layout";
@import "colors";
@import "navbar";
@import "footer";
@import "trendy-courses";
@import "trainers";
@import "educations";
@import "partners";
@import "contacts";
@import "about";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

main {
  z-index: 1;
  min-height: 84vh;
  flex-direction: column;
}

.trendy-courses {
  padding-top: 7em;
}
