@include flipBox();

.trendy-courses {
  background-color: $trendyCoursesBackgroundColor;
  display: flex;
  justify-content: center;

  #slider-previous {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .slider {
    background-image: url("../img/next-arrow.png");
    background-size: $sliderArrowSize $sliderArrowSize;
    width: $sliderArrowSize;
    height: $sliderArrowSize;
    background-repeat: no-repeat;
    margin-top: $sliderArrowSize;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  section {
    flex: 1;
    margin: 1em;
    cursor: pointer;
    text-decoration: none;
    background-color: $lightest;

    img {
      width: 240px;
      height: 240px;
    }

    .course-logo {
      border: 1px solid $fontsColor;
      text-align: center;
    }

    .course-info {
      background-color: $navBarBackgroundColor;
      color: $fontsColor;
      text-align: center;
    }
  }
}
