footer{
  flex: 0 0 100%;
  z-index: 1;
  position: relative;
  font-family: "Roboto", sans-serif;
  padding: 1em 0;
  color: $navBarBackgroundColor;
  font-weight: bold;
  text-shadow: 0px 0px 6px $fontsColor;

  p {
    text-align: center;
  }
  img {
    width: 50px;
    height: 25px;
  }
}
