footer {
  z-index: 1;
  flex: 0 1 100%;
  display: flex;
  background-color: $trendyCoursesBorderColor;
  align-content: stretch;

  section {
    background-color: $navBarBackgroundColor;
    margin: 0.1em 0.1em 0.1em 0;
    flex: 1;
  }
}
