@mixin sticky($flexX: 0, $flexY: 1, $flexZ: 100%) {
  flex: $flexX, $flexY, $flexZ;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@mixin flipCard() {
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    border-radius: 15px;
    transform: rotateY(180deg);
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  /* Style the back side */
  .flip-card-back {
    border-radius: 15px;
    transform: rotateY(180deg);
  }

  .flip-card-front {
    background-color: $navBarBackgroundColor;
    border-radius: 15px;
  }
}
