header {
  height: 64px;
  z-index: 999;
  background-color: $navBarBackgroundColor;
  @include sticky();
  top: 0;

  display: flex;
  flex: 0 1 100%;

  section {
    img {
      width: 70px;
      height: 70px;
    }

    flex: 1;
  }

  ul {
    flex: 2;
    display: flex;

    li {
      padding: 0.3em;
      list-style-type: none;
      margin-right: 0.45em;
      margin-top: 1em;;

      flex: 3;

      cursor: pointer;

      text-transform: uppercase;
      font-weight: lighter;

      @include navBarLink();
    }
  }

  .dropdown {
    position: relative;
    display: none;
    cursor: pointer;

    img {
      width: 60px;
      height: 60px;
      padding: 0 2px 2px 0;
    }
  }

  .dropdown-content {
    span {
      margin-bottom: 0.5em;
      display: block;
    }

    @include navBarLink();

    margin-left: -5.5em;
    display: none;
    position: absolute;
    background-color: $navBarBackgroundColor;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    padding: 0.5em;
    z-index: 1;

  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover {
    img {
      transform: rotate(180deg);
    }
  }
}

@media screen and (max-width: 810px) {
  header {
    nav {
      ul {
        display: none;
      }
    }

    .dropdown {
      display: inline-block;
    }
  }
}

