@import url("https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic");
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body > * {
  flex: 1 0 50%;
}

header {
  height: 64px;
  z-index: 999;
  background-color: #fce4d6;
  flex: 0, 1, 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  top: 0;
  display: flex;
  flex: 0 1 100%;
}
header section {
  flex: 1;
}
header section img {
  width: 70px;
  height: 70px;
}
header ul {
  flex: 2;
  display: flex;
}
header ul li {
  padding: 0.3em;
  list-style-type: none;
  margin-right: 0.45em;
  margin-top: 1em;
  flex: 3;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: lighter;
}
header ul li:hover {
  background-color: antiquewhite;
}
header ul li a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #6A1D1A;
  font-size: 18px;
  margin: 1em;
  text-decoration: none;
}

footer {
  flex: 0 1 100%;
  display: flex;
  background-color: antiquewhite;
  align-content: stretch;
}
footer section {
  background-color: #fce4d6;
  margin: 0.1em 0.1em 0.1em 0;
  flex: 1;
}

.slided {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
@keyframes & {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes & {
  0% {
    -webkit-transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

.trendy-courses {
  background-color: #ff;
  display: flex;
  justify-content: center;
}
.trendy-courses #slider-previous {
  -webkit-transform: rotate(180deg);
  /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);
  /* FF */
  -o-transform: rotate(180deg);
  /* Opera */
  -ms-transform: rotate(180deg);
  /* IE9 */
  transform: rotate(180deg);
}
.trendy-courses .slider {
  background-image: url("https://images.vexels.com/media/users/3/136479/isolated/preview/72ca95e059828aea4edc31c04b0556ce-next-arrow-1-by-vexels.png");
  background-size: 100px 100px;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  margin-top: 100px;
  cursor: pointer;
}
.trendy-courses a {
  text-decoration: none;
}
.trendy-courses section {
  flex: 1;
  margin: 1em;
  cursor: pointer;
  text-decoration: none;
}
.trendy-courses section img {
  width: 240px;
  height: 240px;
}
.trendy-courses section .course-logo {
  border: 1px solid antiquewhite;
  text-align: center;
}
.trendy-courses section .course-info {
  background-color: #fce4d6;
  color: #6A1D1A;
  text-align: center;
}

.trainer-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 12em);
  grid-template-rows: repeat(2, 14em);
  grid-gap: 0.2em;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the back side */
}
.trainer-container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.trainer-container .flip-card:hover .flip-card-inner {
  border-radius: 15px;
  transform: rotateY(180deg);
}
.trainer-container .flip-card-front, .trainer-container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.trainer-container .flip-card-back {
  border-radius: 15px;
  transform: rotateY(180deg);
}
.trainer-container .flip-card-front {
  background-color: #fce4d6;
  border-radius: 15px;
}
.trainer-container .trainer {
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}
.trainer-container .trainer .flip-card-back, .trainer-container .trainer .flip-card-front {
  color: #6A1D1A;
}
.trainer-container .trainer p {
  display: none;
}
.trainer-container .trainer:hover {
  background-color: #fce4d6;
}
.trainer-container .trainer:hover p {
  display: block;
  color: #6A1D1A;
}
.trainer-container .trainer .trainer-image {
  height: 75%;
  background-color: #fce4d6;
}
.trainer-container .trainer .trainer-headline {
  background-color: #fce4d6;
}
.trainer-container .trainer img {
  height: 100%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.trainer-container .trainer .description {
  color: #6A1D1A;
}

.container-educations {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(1, 10em);
  align-content: stretch;
}
.container-educations div {
  border: 1px solid #fce4d6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-educations div p {
  color: crimson;
}
.container-educations div img {
  height: 2em;
  width: 2em;
}
.container-educations div .break {
  flex-basis: 100%;
  height: 0;
  border: none;
}

.container-list {
  display: grid;
  grid-template-columns: repeat(3, 33.333%);
  grid-template-rows: repeat(1, 15em);
  align-content: stretch;
}
.container-list div {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.container-list div li {
  list-style-type: none;
  border: 1px solid #fce4d6;
  background-color: #fce4d6;
  border-radius: 1em;
  color: #ffffff;
  margin: 1em;
  padding: 0.2em 8.5em;
  text-align: center;
}
.container-list .first, .container-list .third {
  display: none;
}

.partners-container {
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 18em);
  grid-template-rows: repeat(2, 9em);
  grid-gap: 0.2em;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  color: #6A1D1A;
  /* This container is needed to position the front and back side */
  /* Do an horizontal flip when you move the mouse over the flip box container */
  /* Position the front and back side */
  /* Style the back side */
}
.partners-container .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.partners-container .flip-card:hover .flip-card-inner {
  border-radius: 15px;
  transform: rotateY(180deg);
}
.partners-container .flip-card-front, .partners-container .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.partners-container .flip-card-back {
  border-radius: 15px;
  transform: rotateY(180deg);
}
.partners-container .flip-card-front {
  background-color: #fce4d6;
  border-radius: 15px;
}
.partners-container .partner-image {
  margin-top: 2.75em;
  text-align: center;
  width: 100%;
  height: 100%;
}
.partners-container .partner-image img {
  max-width: 90%;
  max-height: 90%;
}
.partners-container .flip-card-front {
  background-color: transparent;
  border: 1px solid #fce4d6;
}
.partners-container .flip-card-back {
  background-color: #fce4d6;
  color: #6A1D1A;
}

* {
  margin: 0;
  padding: 0;
}

main {
  z-index: 1;
  min-height: 84vh;
  flex-direction: column;
}

/*# sourceMappingURL=style.css.map */
