@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@import "mixins";
@import "sizes";
@import "main-layout";
@import "colors";
@import "navbar";
@import "footer";
@import "trendy-courses";
@import "trainers";
@import "educations";
@import "partners";

* {
  margin: 0;
  padding: 0;
}

main {
  z-index: 1;
  min-height: 84vh;
  flex-direction: column;
}

body {
  background-color: #F4F8F9;
}

